# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual Environment
venv/
.venv/
env/

# 민감 정보
.env

# Storage 데이터 (구조 유지, 데이터 제외)
/storage/db/*
/storage/vectors/*
!storage/db/.gitkeep
!storage/vectors/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Distribution
dist/
build/
*.egg-info/

# Logs
*.log

# mics
/storage/uploads_tmp/*